<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{"styles/site.css" | absolute_url}}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>    
    <script type="text/javascript">
         var _gaq = _gaq || [];
        _gaq.push(['_setAccount', "UA-46132385-1"]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
      </script>
    </head>
  <body>
  

<div class="container">

<div class="page-header">
  <h1>AEAT<small>Pension Campaign </small></h1>
</div>


<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-left">
        <li><a href="{{"/" | absolute_url}}">Home</a></li>
        <li><a href="{{"/story" | absolute_url}}">Story</a></li>
        <li><a href="{{"/grievance" | absolute_url}}">Grievance</a></li>
        <li><a href="{{"/what_do" | absolute_url}}">What Can I do?</a></li>
        <li class="divider-vertical"></li>
        <!--li><a href="{{"/newsletter" | absolute_url}}">Newsletter</a></li-->
        <li><a href="{{"/contact" | absolute_url}}">Contact Us</a></li>
        <li><a href="{{"/useful_links" | absolute_url}}">Useful Links</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
 <h3>{{ page.title }}</h3>
  <div class="row">
  <div class="col-lg-12">
    {{ content }}
  </div>
  </body>


</div>
  
</html>
